# Lists (DataType)

* Lists are collection and they are hreterogeneous.
* i.e. they can store multiple items from different data types/classes.
* Lists are denoted by [] , It enclosed in square braces.
* Empty List = [  ]
* We seperate elements by ,
* Lists are order and sequencial.
* Lists are indexable and slicable.
* Lists are mutable i.e. changes happen in same memory location.
* Lists are dynamic.


### Indexing and Slicing in Lists

In [16]:
#Example
list1 = ["apple", "banana", "cherry"] 
list2 = ["abc", 34, True, 40, "male"]
print(list2[0], list2[-1]) #indexing
print(list2[::], list2[::-1], sep ='\n') #slicing

print(list1, type(list1), id(list1), sep ='\n')
print(list2, type(list2), id(list2), sep ='\n')

abc male
['abc', 34, True, 40, 'male']
['male', 40, True, 34, 'abc']
['apple', 'banana', 'cherry']
<class 'list'>
4509763136
['abc', 34, True, 40, 'male']
<class 'list'>
4509861696

### Empty List

In [5]:
a = [ ]
print(a, type(a), len(a), id(a), len(a), sep='\n') #length of empty string is zero

[]
<class 'list'>
0
4509873408
0

#### Creating List by list()

In [6]:
l = list()
print(l, len(l), hex(id(l)), sep='\n')

[]
0
0x10ccdaf80

In [7]:
l = ['Python']
print(l, len(l), hex(id(l)), sep='\n')

['Python']
1
0x10cce9640

In [8]:
l = list('Python')
print(l, len(l), hex(id(l)), sep='\n') #takes individual element in the string.

['P', 'y', 't', 'h', 'o', 'n']
6
0x10ccdb940

In [10]:
l = list({10, 20, 30, 40})
print(l,type(l), len(l), hex(id(l)), sep='\n')

[40, 10, 20, 30]
<class 'list'>
4
0x10cce9140

In [11]:
x = 'hello python'
list(x) # takes each individually

['h', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [12]:
set(list(x)) #takes unique elements only

{' ', 'e', 'h', 'l', 'n', 'o', 'p', 't', 'y'}

### Nested List
* List within a list is called nested list.

In [13]:
l = [1,2,3,[1,4,9]]
print(l, type(l), len(l), hex(id(l)), sep='\n')

[1, 2, 3, [1, 4, 9]]
<class 'list'>
4
0x10a02e0c0

In [14]:
l[3] #3rd index of list l

[1, 4, 9]

In [15]:
l[3][2] # inner list element index of 2

9

## Range
 * Range populates the numbers within the given range.
 * Syntex: range(start, end, step)
    * from starting point till end, it does not include end point.
 * Default values of starting is zero and step is +1.

In [19]:
r = range(1,21)
print(r, type(r), len(r), hex(id(r)), sep='\n')

range(1, 21)
<class 'range'>
20
0x10a148e40

In [21]:
r = range(20,0,-1)
print(list(r), type(r), len(r), hex(id(r)), sep='\n')
# included numbers from 20 to 1 backwards , didnt include 0 , step was -1 so it is in decreasing order.

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
<class 'range'>
20
0x10a1494d0

In [22]:
range(5) #if we mention only 1 number so range takes it as end point and starts it from 0.

range(0, 5)

## List Methods
* append
* clear
* copy
* count
* extend
* index
* insert
* pop
* remove
* reverse
* sort

### Append
* It adds object to the end of the list.
* Even after changing the list memory location does not change. therefore we say list is mutable.

In [23]:
# Example
l = [ ]
print(l, type(l), len(l), hex(id(l)), sep='\n')

[]
<class 'list'>
0
0x10cce3280

In [24]:
l.append([1, 2, 3])
print(l, type(l), len(l), hex(id(l)), sep='\n')
#here both lists have same location.

[[1, 2, 3]]
<class 'list'>
1
0x10cce3280

In [25]:
l.append(100)
print(l, type(l), len(l), hex(id(l)), sep='\n')

[[1, 2, 3], 100]
<class 'list'>
2
0x10cce3280

### Extend

In [26]:
l.extend('python')
print(l, type(l), len(l), hex(id(l)), sep='\n')

[[1, 2, 3], 100, 'p', 'y', 't', 'h', 'o', 'n']
<class 'list'>
8
0x10cce3280

In [27]:
l.append('xyz')
print(l, type(l), len(l), hex(id(l)), sep='\n')

[[1, 2, 3], 100, 'p', 'y', 't', 'h', 'o', 'n', 'xyz']
<class 'list'>
9
0x10cce3280

### Count
* Counts the occurance of an element.

In [28]:
[1,2,3,4,1,2,3,5,6,1,2,7,5].count(2)

3

### Insert
* Inserts an element in the middle of a list.
* Syntex : list.insert(place,char)

In [32]:
l

[[1, 2, 3], 100, 'p', 'y', 't', 'h', 'o', 'n', 'xyz']

In [34]:
l.insert(1,70)
l
# works for positive nd negative index

[[1, 2, 3], 70, 70, 100, 'p', 'y', 't', 'h', 'o', 'n', 'xyz']

In [35]:
l.insert(-3,15)
l

[[1, 2, 3], 70, 70, 100, 'p', 'y', 't', 'h', 15, 'o', 'n', 'xyz']

### Remove
* Removes given element's first occurance from left to right.
* syntex: list.remove('a')

In [36]:
x  = list('malayalam')
x

['m', 'a', 'l', 'a', 'y', 'a', 'l', 'a', 'm']

In [37]:
x.remove('a')
x

['m', 'l', 'a', 'y', 'a', 'l', 'a', 'm']

### Pop
* pop gives back the last value from the list by default and removes that value from the list if you print it after that.
* list.pop()
* If you mention the index number so it will give it back and remove kit from the list.

In [38]:
l

[[1, 2, 3], 70, 70, 100, 'p', 'y', 't', 'h', 15, 'o', 'n', 'xyz']

In [39]:
l.pop() #bydefault

'xyz'

In [40]:
l

[[1, 2, 3], 70, 70, 100, 'p', 'y', 't', 'h', 15, 'o', 'n']

In [41]:
l.pop(0) #index 0 is given

[1, 2, 3]

In [42]:
l

[70, 70, 100, 'p', 'y', 't', 'h', 15, 'o', 'n']

### Sort
* Sort gives the result of alphabetical list in alphabetical order and numerical list in ascending order by default.
* If we mention in the code list.sort(reverse=True) then it gives numerical values.

In [5]:
l = [5, 56, -34, 19, 47]
m = ['kavi', 'ravi', 'chhavi', 'nimi', 'mini']
l.sort()
m.sort()
print(l, m, sep='\n')

[-34, 5, 19, 47, 56]
['chhavi', 'kavi', 'mini', 'nimi', 'ravi']

In [6]:
#for descending order
l

[-34, 5, 19, 47, 56]

In [8]:
l.sort(reverse= True)
l

[56, 47, 19, 5, -34]

### Index
* Returns the index of given char from the list.
* for syntex list.index()

In [10]:
n = l+m
n

[56, 47, 19, 5, -34, 'chhavi', 'kavi', 'mini', 'nimi', 'ravi']

In [13]:
n.index('nimi')

8

### Reverse
* Returns the reversed list.
* syntex: list.reverse()

In [14]:
n

[56, 47, 19, 5, -34, 'chhavi', 'kavi', 'mini', 'nimi', 'ravi']

In [17]:
n.reverse()
n

['ravi', 'nimi', 'mini', 'kavi', 'chhavi', -34, 5, 19, 47, 56]

### Clear
* It gives the cleared list i.e. empty list.
* syntex: list.clear()

In [18]:
n

['ravi', 'nimi', 'mini', 'kavi', 'chhavi', -34, 5, 19, 47, 56]

In [19]:
n.clear()
n

[]

### Copy
* It copies the list with different memory location.
* It fails with nested list.

In [20]:
x = [11, 22, 33]
print(x, hex(id(x)))

y = x
print(y, hex(id(y)))

x.append(44)
print(y)
print(hex(id(x[0])), hex(id(y[0])))

[11, 22, 33] 0x107de5c80
[11, 22, 33] 0x107de5c80
[11, 22, 33, 44]
0x101f1de98 0x101f1de98

In [21]:
z = x.copy()
x.append(55)
print(z, hex(id(z)))
print(hex(id(z[0])))

[11, 22, 33, 44] 0x107e100c0
0x101f1de98

In [22]:
a = [1, [4, 5 ,6]]
print(a, a[1], hex(id(a)), hex(id(a[1])))
b = a.copy()
print(b, b[1], hex(id(b)), hex(id(b[1])))

[1, [4, 5, 6]] [4, 5, 6] 0x107de5a40 0x107de7580
[1, [4, 5, 6]] [4, 5, 6] 0x107de4640 0x107de7580

In [23]:
a[1].append(7)
print(a)
print(b)

[1, [4, 5, 6, 7]]
[1, [4, 5, 6, 7]]

#### In such cases where copy doesnt work or fails, we use deepcopy

In [27]:
import copy
from copy import deepcopy
b = deepcopy(a)
a[1].append(8)
print(a, id(a))
print(b, id(b))

[1, [4, 5, 6, 7, 7, 8]] 4426979904
[1, [4, 5, 6, 7, 7]] 4427205376

## Tuple Datatype
* Tuples are used to store multiple items in a single variable.
* A tuple is a collection which is ordered and unchangeable or immutable.
* Tuples are written with round brackets.
* Tuple items are ordered, unchangeable, and allow duplicate values.

In [28]:
#A tuple can contain different data types:
a = ("abc", 34, True, 40, "male")
print(a, type(a), id(a), sep='\n')

('abc', 34, True, 40, 'male')
<class 'tuple'>
4427144368

## Methods of touple
### Count
* counts the no of occurance of the given value.
* Syntex: touple.count()

In [29]:
a = (2, 3, 4 , 2, 1, 2, 5, 6)
a.count(2)

3

In [30]:
a.count(6)

1

In [32]:
a.count(7) #gives 0 if not present.

0

### Index
* Gives the index number of given char of touple.
* syntex : touple.index()

In [33]:
a = ("abc", 34, True, 40, "male")
a.index(40)

3

In [34]:
a.index("male")

4